{{/*
  Taxonomy list page: /tags/ and /categories/ (all terms of one taxonomy).
*/}}
{{ define "main" }}
<main id="terms" role="main" class="main-panel">
  <div class="page-content">
    <div class="container container-ex">
      <div class="inner">
        <div class="post-wrapper">
          <div class="post reveal no-toc">
            <div class="card">
              {{ partial "breadcrumb.html" . }}
              <div class="card-content">
                {{ range .Data.Terms.ByCount }}
                <div class="chip">
                  <a class="unstyled" href="{{ .Page.RelPermalink }}">
                    {{ .Page.Title }}
                  </a>
                  <sup class="tagcount">{{ .Count }}</sup>
                </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ partialCached "footer.html" . }}
</main>
{{ end }}
