{{/*
  Comments hook.

  By default the theme does not bundle any comment system.
  Create `layouts/partials/comments.html` in your own site and
  implement the comment provider of your choice (Disqus, giscus,
  Waline, ...). It will be rendered at the bottom of every page
  that is not a `type: about` page.
*/}}
{{ $comments := "" }}
{{ if templates.Exists "partials/comments.html" }}
  {{ $comments = partial "comments.html" . }}
{{ end }}
{{ with $comments }}
<div class="comments">
  {{ . | safeHTML }}
</div>
{{ end }}