{{ define "title" }}404 - 页面未找到 | {{ site.Title }}{{ end }}

{{ define "main" }}
<main id="error404" role="main" class="main-panel">
  <div class="page-content">
    <div class="container container-ex">
      <div class="inner">
        <section class="post-wrapper">
          <div class="post reveal no-toc">
            <div class="card">
              <section class="breadcrumb-root">
                <div class="breadcrumbs" role="navigation" aria-label="breadcrumbs navigation">
                  <a class="breadcrumb" href="{{ site.Home.RelPermalink }}">
                    <i class="material-icons">location_on</i>Home
                  </a>
                  <span class="breadcrumb">404</span>
                </div>
              </section>

              <div class="card-header postinfo">
                <span class="card-title">404 - 页面未找到</span>
              </div>

              <div class="error-code-box">
                <pre><code><span class="comment">// 404 page not found.</span>
<span class="keyword">if</span> (<span class="operator">!</span><span class="variable">found</span>) {
  <span class="keyword">throw</span> <span class="string">"(╯°□°)╯︵ ┻━┻"</span>;
}</code></pre>
              </div>

              <div class="card-action card-action-links error-action-links">
                <a href="{{ site.Home.RelPermalink }}" class="btn waves-effect">
                  <i class="material-icons left">home</i> 返回首页
                </a>
                <a href="javascript:history.back()" class="btn btn-secondary waves-effect">
                  <i class="material-icons left">arrow_back</i> 返回上一页
                </a>
                {{ with site.GetPage "/archive" }}
                <a href="{{ .RelPermalink }}" class="btn btn-secondary waves-effect">
                  <i class="material-icons left">history</i> 全站归档
                </a>
                {{ end }}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  {{ partialCached "footer.html" . }}
</main>
{{ end }}