{{ define "main" }}
{{ $tocable := and (index .Params "toc" | default true) (gt .WordCount 400) }}
{{ $tocable := and (ne "" (print .TableOfContents)) $tocable }}
<main id="single" role="main" class="main-panel">
  <div class="page-content">
    <div class="container container-ex">
      <div class="inner">
        <section class="post-wrapper">
          {{ if eq $tocable true }}
          <div class="toc-panel">
            {{ .TableOfContents }}
          </div>
          {{ end }}
          <div class="post reveal {{ if eq $tocable false }} no-toc {{ end }}">
            <div class="card">
              {{ partial "breadcrumb.html" . }}
              {{ if ne .Params.type "about" }}
              <div class="card-header postinfo">
                <span class="card-title">{{ .Title }} {{ if .Draft }}:: DRAFT{{ end }}</span>
              </div>
              <div class="card-header date">
                {{ with .GetTerms "categories" }}
                <div class="group">
                  <i class="material-icons">book</i>
                  <address>
                    归档：{{ range . }}
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>&nbsp;
                    {{ end }}
                  </address>
                </div>
                {{ end }}
                <div class="group">
                  <i class="material-icons">flag</i>
                  <time>创建：{{ .Date.Format (site.Params.dateFormat | default "2006-01-02") }}
                  </time>
                </div>
                {{ if ne .Lastmod .Date }}
                <div class="group">
                  <i class="material-icons">mode_edit</i>
                  <time>修改：{{ .Lastmod.Format (site.Params.dateFormat | default "2006-01-02") }}
                  </time>
                </div>
                {{ end }}
                {{ if and (ne .Params.wordCount false) (ne site.Params.wordCount false) }}
                <div class="group">
                  <i class="material-icons">description</i>
                  <span>字数：{{ .WordCount }} 字</span>
                </div>
                {{ end }}
                {{ if and (ne .Params.readingTime false) (ne site.Params.readingTime false) }}
                <div class="group">
                  <i class="material-icons">schedule</i>
                  <span>阅读：{{ .ReadingTime }} 分钟</span>
                </div>
                {{ end }}
              </div>
              {{ end }}
              <div class="card-content">

                <article class="article">
                  {{ .Content }}
                </article>

              </div>
              {{ with .GetTerms "tags" }}
              <div class="card-action card-action-links">
                {{ range . }}
                <a class="btn btn-secondary" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{ end }}
              </div>
              {{ end }}
              {{ if and (ne .Params.type "about") (ne .Params.comments false) }}
                {{ $comments := partial "comments.html" . }}
                {{ with (strings.Trim $comments " \t\r\n") }}
                <div class="card-action comments-section">
                  <div class="comments">
                    {{ . | safeHTML }}
                  </div>
                </div>
                {{ end }}
              {{ end }}

              {{ if eq .Type "posts" }}
              <div class="pagination-single">
                {{ with .PrevInSection }}
                <span class="pagination-item previous">
                  <i class="material-icons">navigate_before</i>
                  <a href="{{ .RelPermalink }}" rel="prev">{{ .LinkTitle }}</a>
                </span>
                {{ end }}
                {{ with .NextInSection }}
                <span class="pagination-item next">
                  <a href="{{ .RelPermalink }}" rel="next">{{ .LinkTitle }}</a>
                  <i class="material-icons">navigate_next</i>
                </span>
                {{ end }}
              </div>
              {{ end }}

            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  {{ partialCached "footer.html" . }}
</main>
{{ end }}
